<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon"
          href="https://lh5.googleusercontent.com/k3jFqaN3lAsLXTILR_3eTGsW8Bchh-62lPNhyQrFLsnaS5JcYty9vIWzui_ZKOFFSgjVk968Fiv2GOqGs5wTxvhSv4RboXLH0LBGvRhb5xUYQ1UuJOf1=w371">
    <title>Movie List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center"
     style="background-image:radial-gradient(rgba(0,0,0,0.1),rgba(0,0,0,1)),url(../static/rear-view-mirror.jpg); background-size: cover;">
    <div class="container for-about">
        <h1 style="color: white">Which one do you mean?</h1>
        <a href="/home"> << Home</a>
    </div>
</div>

<div class="container ">
    {% for movie in movies %}
    <div class="row">
        <div class="col-sm-10">
            <div class="list-group">
                <a class="list-group-item list-group-item-action flex-column align-items-start"
                   href="/movie?movieID={{movie.movieID}}">
                    <div class="d-flex w-100 justify-content-between">
                        <img class="img-responsive" alt="" src="{{ movie.data['cover url'] }}" >
                    </div>
                    <h3 class="mb-1">{{ movie.data.title }}</h3>
                    <p>{{movie.data.year}}</p>
                </a>


            </div>
        </div>
    </div>
    {% endfor %}

</div>

</body>
</html>