<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon"
          href="https://lh5.googleusercontent.com/k3jFqaN3lAsLXTILR_3eTGsW8Bchh-62lPNhyQrFLsnaS5JcYty9vIWzui_ZKOFFSgjVk968Fiv2GOqGs5wTxvhSv4RboXLH0LBGvRhb5xUYQ1UuJOf1=w371">

    <meta charset="UTF-8">
    <title>Search a movie</title>
    <link href="../static/search.css" rel="stylesheet">
</head>
<body>
<div class="header">
    <form action="/search_movie_by_name">
        <h1> Search a movie you would like to learn with: </h1>
        <div class="form-box">
            <input type="text" class="search-field" name="name" placeholder="My favourite movie">
            <input class="search-btn" type="submit">
        </div>
    </form>
</div>


</body>
</html>